<html>
    <head>
        <title>Upload File</title>
    </head>
    
    <body>
        <form class="dropzone">
          <div class="fallback">
            <input name="file" type="file" multiple />
          </div>
        </form>
        
        <input type="button" id='script' name="scriptbutton" value=" Upload " onclick="goPython()">
        <a href="{{ url_for('index') }}" class="nav-link">
            <button>Finished Uploading</button>
        </a>
        

        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <script>
            function goPython(){
                $.ajax({
                  url: "{{ url_for('gopy') }}",
                 context: document.body
                }).done(function() {
                    console.log("hi")
                });
            }
        </script>
    </body>
</html>